/* screen - inbox-main-unread */

.inbox-main-unread {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.inbox-main-unread .email-body-vHcZaL {
  background-color: transparent;
  height: 359px;
  left: 603px;
  position: fixed;
  top: 175px;
  width: 812px;
}

.inbox-main-unread .student-government-president-r6d4kN {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}

.inbox-main-unread .wed-1372022-732-am-r6d4kN {
  background-color: transparent;
  height: auto;
  left: 660px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: auto;
}

.inbox-main-unread .to-r6d4kN {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 77px;
  width: auto;
}

.inbox-main-unread .icon-contact-r6d4kN {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 42px;
}

.inbox-main-unread .oval-kDMlhB {
  background-color: transparent;
  height: 40px;
  left: 603px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 40px;
}

.inbox-main-unread .a-kDMlhB {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.inbox-main-unread .dear-sutd-family-it-r6d4kN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 721px;
}

.inbox-main-unread .x10th-cabinet-roadmap-r6d4kN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.inbox-main-unread .reply-button-r6d4kN {
  background-color: transparent;
  height: 30px;
  left: 444px;
  position: absolute;
  top: 53px;
  width: 120px;
}

.inbox-main-unread .base-OBwuOm {
  align-items: center;
  background-color: var(--white-2);
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05779999867081642) 90.576171875%, rgba(0, 0, 0, 0.16220000386238098)) 1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  left: -1px;
  mix-blend-mode: normal;
  padding: 4px 11px 6px;
  position: absolute;
  top: -1px;
  width: 120px;
}

.inbox-main-unread .min-width-xpPoSm {
  background-color: transparent;
  height: 1px;
  min-width: 96px;
  position: relative;
}

.inbox-main-unread .text-OBwuOm {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: auto;
}

.inbox-main-unread .iconuirestart-OBwuOm {
  background-color: transparent;
  height: 16px;
  left: 29px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.inbox-main-unread .reply-all-button-r6d4kN {
  background-color: transparent;
  height: 30px;
  left: 564px;
  position: absolute;
  top: 53px;
  width: 120px;
}

.inbox-main-unread .base-C3kxmy {
  align-items: center;
  background-color: var(--white-2);
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05779999867081642) 90.576171875%, rgba(0, 0, 0, 0.16220000386238098)) 1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  left: -1px;
  mix-blend-mode: normal;
  padding: 4px 11px 6px;
  position: absolute;
  top: -1px;
  width: 120px;
}

.inbox-main-unread .min-width-TesLhe {
  background-color: transparent;
  height: 1px;
  min-width: 96px;
  position: relative;
}

.inbox-main-unread .text-C3kxmy {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: auto;
}

.inbox-main-unread .iconuirestart-copy-C3kxmy {
  background-color: transparent;
  height: 16px;
  left: 17px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.inbox-main-unread .forward-button-r6d4kN {
  background-color: transparent;
  height: 30px;
  left: 684px;
  position: absolute;
  top: 53px;
  width: 120px;
}

.inbox-main-unread .base-QOpTTd {
  align-items: center;
  background-color: var(--white-2);
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05779999867081642) 90.576171875%, rgba(0, 0, 0, 0.16220000386238098)) 1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  left: -1px;
  mix-blend-mode: normal;
  padding: 4px 11px 6px;
  position: absolute;
  top: -1px;
  width: 120px;
}

.inbox-main-unread .min-width-j3pvCX {
  background-color: transparent;
  height: 1px;
  min-width: 96px;
  position: relative;
}

.inbox-main-unread .text-QOpTTd {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: auto;
}

.inbox-main-unread .combined-shape-QOpTTd {
  background-color: transparent;
  height: 15px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 18px;
}

.inbox-main-unread .left-panel-vHcZaL {
  background-color: transparent;
  height: 871px;
  left: 0px;
  position: fixed;
  top: 153px;
  width: 228px;
}

.inbox-main-unread .rectangle-2-DTodCI {
  background-color: var(--cultured-pearl);
  height: 871px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .bottom-bar-DTodCI {
  background-color: transparent;
  height: 29px;
  left: 10px;
  position: absolute;
  top: 830px;
  width: 184px;
}

.inbox-main-unread .icon-mail-VzUthv {
  background-color: transparent;
  height: 18px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 29px;
}

.inbox-main-unread .icon-calendar-VzUthv {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 54px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 29px;
}

.inbox-main-unread .icon-more-VzUthv {
  background-color: transparent;
  height: 4px;
  left: 158px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 26px;
}

.inbox-main-unread .icon-group-VzUthv {
  background-color: transparent;
  height: 28px;
  left: 108px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 26px;
}

.inbox-main-unread .line-11-DTodCI {
  background-color: transparent;
  height: 2px;
  left: 4px;
  position: absolute;
  top: 812px;
  width: 208px;
}

.inbox-main-unread .favourites-DTodCI {
  background-color: transparent;
  height: 144px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 226px;
}

.inbox-main-unread .favorites-dAahma {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 85px;
}

.inbox-main-unread .fav-inbox-dAahma {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 228px;
}

.inbox-main-unread .rectangle-4-Qj2mSX {
  background-color: var(--bon-jour);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .inbox-Qj2mSX {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-Qj2mSX {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .fav-sent-items-dAahma {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 60px;
  width: 228px;
}

.inbox-main-unread .rectangle-5-09o6qT {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .sent-items-09o6qT {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-09o6qT {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .fav-drafts-dAahma {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 85px;
  width: 228px;
}

.inbox-main-unread .rectangle-6-jG41Wx {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .drafts-jG41Wx {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-jG41Wx {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .fav-deleted-items-dAahma {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 228px;
}

.inbox-main-unread .rectangle-7-bcJq0u {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .deleted-items-bcJq0u {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-bcJq0u {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .line-2-dAahma {
  background-color: transparent;
  height: 2px;
  left: 6px;
  position: absolute;
  top: 143px;
  width: 208px;
}

.inbox-main-unread .chevron-down-dAahma {
  background-color: transparent;
  height: 32px;
  left: 7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 32px;
}

.inbox-main-unread .crystal_limsutdedu-DTodCI {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 192px;
  width: 180px;
}

.inbox-main-unread .sent-items-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 247px;
  width: 228px;
}

.inbox-main-unread .rectangle-9-3YeDpl {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .sent-items-3YeDpl {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-3YeDpl {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .drafts-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 272px;
  width: 228px;
}

.inbox-main-unread .rectangle-10-F0yXCD {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .drafts-F0yXCD {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-F0yXCD {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .deleted-items-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 299px;
  width: 228px;
}

.inbox-main-unread .rectangle-11-ef2gAt {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .deleted-items-ef2gAt {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-ef2gAt {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .archive-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 326px;
  width: 228px;
}

.inbox-main-unread .rectangle-12-c2eJpA {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .archive-c2eJpA {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-c2eJpA {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .junk-email-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 351px;
  width: 228px;
}

.inbox-main-unread .rectangle-13-tdAuAL {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .junk-email-tdAuAL {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-tdAuAL {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .outlook-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 378px;
  width: 228px;
}

.inbox-main-unread .rectangle-14-rFYzxy {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .outlook-rFYzxy {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-rFYzxy {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .chevron-down-DTodCI {
  background-color: transparent;
  height: 32px;
  left: 7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 187px;
  width: 32px;
}

.inbox-main-unread .chevron-down-gWJSDY {
  background-color: transparent;
  height: 23px;
  left: 194px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 23px;
}

.inbox-main-unread .inbox-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 228px;
}

.inbox-main-unread .rectangle-8-NUjDVx {
  background-color: var(--bon-jour);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-main-unread .inbox-NUjDVx {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-main-unread .x12-NUjDVx {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .chevron-down-NUjDVx {
  background-color: transparent;
  height: 16px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 14px;
}

.inbox-main-unread .groups-DTodCI {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 410px;
  width: 85px;
}

.inbox-main-unread .chevron-down-ta2ngd {
  background-color: transparent;
  height: 16px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 14px;
}

.inbox-main-unread .top-panel-vHcZaL {
  background-color: transparent;
  height: 153px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1440px;
}

.inbox-main-unread .rectangle-1-M1SDmM {
  background-color: var(--gallery);
  height: 153px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.inbox-main-unread .search-bar-M1SDmM {
  background-color: transparent;
  height: 31px;
  left: 370px;
  position: absolute;
  top: 12px;
  width: 352px;
}

.inbox-main-unread .rectangle-ShUxi0 {
  background-color: transparent;
  height: 31px;
  left: 370px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 350px;
}

.inbox-main-unread .search-ShUxi0 {
  background-color: transparent;
  height: auto;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.inbox-main-unread .icon-search-ShUxi0 {
  background-color: transparent;
  height: 16px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 15px;
}

.inbox-main-unread .main-panel-M1SDmM {
  background-color: transparent;
  height: 31px;
  left: 26px;
  position: absolute;
  top: 55px;
  width: 558px;
}

.inbox-main-unread .line-10-d11rcD {
  background-color: transparent;
  height: 2px;
  left: 86px;
  position: absolute;
  top: 30px;
  width: 74px;
}

.inbox-main-unread .file-d11rcD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-main-unread .home-d11rcD {
  background-color: transparent;
  height: auto;
  left: 86px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-main-unread .view-d11rcD {
  background-color: transparent;
  height: auto;
  left: 300px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-main-unread .help-d11rcD {
  background-color: transparent;
  height: auto;
  left: 386px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-main-unread .acrobat-d11rcD {
  background-color: transparent;
  height: auto;
  left: 472px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-main-unread .send-receive-d11rcD {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 133px;
}

.inbox-main-unread .fix-buttons-M1SDmM {
  background-color: transparent;
  height: 52px;
  left: 1304px;
  position: absolute;
  top: 17px;
  width: 125px;
}

.inbox-main-unread .chromechrome-close-NjsJAj {
  background-color: transparent;
  height: 16px;
  left: 105px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.inbox-main-unread .chromechrome-restore-NjsJAj {
  background-color: transparent;
  height: 16px;
  left: 72px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.inbox-main-unread .chromechrome-minimize-NjsJAj {
  background-color: transparent;
  height: 16px;
  left: 39px;
  position: absolute;
  top: 1px;
  width: 16px;
}

.inbox-main-unread .base-NjsJAj {
  background-color: var(--alabaster);
  border-radius: 999px;
  height: 20px;
  left: 64px;
  mix-blend-mode: normal;
  position: absolute;
  top: 33px;
  width: 58px;
}

.inbox-main-unread .thumb-NjsJAj {
  background-color: var(--black-4);
  border-radius: 999px;
  height: 12px;
  left: 71px;
  mix-blend-mode: normal;
  position: absolute;
  top: 37px;
  width: 12px;
}

.inbox-main-unread .off-NjsJAj {
  background-color: transparent;
  height: 10px;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 20px;
}

.inbox-main-unread .try-it-now-NjsJAj {
  background-color: transparent;
  height: 10px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 56px;
}

.inbox-main-unread .office-logos-M1SDmM {
  background-color: transparent;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}

.inbox-main-unread .group-v0zrx5 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}

.inbox-main-unread .outlook-E26zVR {
  background-color: transparent;
  height: 29px;
  left: 9px;
  position: absolute;
  top: 12px;
  width: 33px;
}

.inbox-main-unread .x142-HE3cyq {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 33px;
}

.inbox-main-unread .group-FUOUT9 {
  background-color: transparent;
  height: 24px;
  left: 7px;
  mix-blend-mode: multiply;
  opacity: 0.2;
  position: absolute;
  top: 1px;
  width: 21px;
}

.inbox-main-unread .rectangle-kahC8t {
  background-color: transparent;
  height: 24px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 21px;
}

.inbox-main-unread .vector-kahC8t {
  background-color: transparent;
  height: 22px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .group-qq0n26 {
  background-color: transparent;
  height: 23px;
  left: 7px;
  mix-blend-mode: multiply;
  opacity: 0.12;
  position: absolute;
  top: 1px;
  width: 19px;
}

.inbox-main-unread .rectangle-ogi7Cf {
  background-color: transparent;
  height: 23px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .vector-ogi7Cf {
  background-color: transparent;
  height: 22px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .vector-FUOUT9 {
  background-color: transparent;
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 18px;
}

.inbox-main-unread .vector-qq0n26 {
  background-color: transparent;
  height: 5px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}

.inbox-main-unread .vector-9qvkqS {
  background-color: transparent;
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 16px;
}

.inbox-main-unread .vector-Cezlx6 {
  background-color: transparent;
  height: 5px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 5px;
}

.inbox-main-unread .vector-MGTlWI {
  background-color: transparent;
  height: 5px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 5px;
}

.inbox-main-unread .vector-6FVTni {
  background-color: transparent;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 5px;
}

.inbox-main-unread .vector-DJ1TeS {
  background-color: transparent;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}

.inbox-main-unread .vector-zzRJKe {
  background-color: transparent;
  height: 5px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}

.inbox-main-unread .vector-WHXZya {
  background-color: transparent;
  height: 5px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 5px;
}

.inbox-main-unread .vector-VpQmae {
  background-color: transparent;
  height: 5px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 5px;
}

.inbox-main-unread .vector-s1B2nx {
  background-color: transparent;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 5px;
}

.inbox-main-unread .group-9qvkqS {
  background-color: transparent;
  height: 24px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 32px;
}

.inbox-main-unread .envelope-zWpltE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 32px;
}

.inbox-main-unread .group-41Di4N {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.35;
  position: relative;
  top: 0px;
  width: 32px;
}

.inbox-main-unread .rectangle-g6G1il {
  background-color: transparent;
  height: 24px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 32px;
}

.inbox-main-unread .vector-g6G1il {
  background-color: transparent;
  height: 11px;
  left: 7px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 7px;
  width: 18px;
}

.inbox-main-unread .envelope-OAZgt4 {
  background-color: transparent;
  height: 12px;
  left: 6px;
  opacity: 0.06;
  position: absolute;
  top: 6px;
  width: 19px;
}

.inbox-main-unread .group-RpeNmR {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.06;
  position: relative;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .icon-mail-wjJkxR {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .vector-wjJkxR {
  background-color: transparent;
  height: 11px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1px;
  width: 18px;
}

.inbox-main-unread .envelope-FUOUT9 {
  background-color: transparent;
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 18px;
}

.inbox-main-unread .vector-paBxpa {
  background-color: transparent;
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 18px;
}

.inbox-main-unread .group-Cezlx6 {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 17px;
}

.inbox-main-unread .ambient-mYJ4te {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 17px;
}

.inbox-main-unread .group-kLUVfA {
  background-color: transparent;
  height: 17px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.48;
  position: absolute;
  top: 0px;
  width: 17px;
}

.inbox-main-unread .rectangle-wfYqJ6 {
  background-color: transparent;
  height: 17px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.inbox-main-unread .vector-wfYqJ6 {
  background-color: transparent;
  height: 12px;
  left: 2px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1px;
  width: 12px;
}

.inbox-main-unread .group-VyrqqX {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: multiply;
  opacity: 0.24;
  position: absolute;
  top: 1px;
  width: 13px;
}

.inbox-main-unread .rectangle-hPZ6y5 {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 13px;
}

.inbox-main-unread .vector-hPZ6y5 {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 12px;
}

.inbox-main-unread .vector-iKIyxh {
  background-color: transparent;
  height: 24px;
  left: 2px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.inbox-main-unread .vector-2Ev2Dv {
  background-color: transparent;
  height: 22px;
  left: 8px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 1px;
  width: 18px;
}

.inbox-main-unread .vector-G4JyG3 {
  background-color: transparent;
  height: 12px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 12px;
}

.inbox-main-unread .group-MGTlWI {
  background-color: transparent;
  height: 12px;
  left: 2px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 6px;
  width: 12px;
}

.inbox-main-unread .vector-6XzLCe {
  background-color: transparent;
  height: 7px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 6px;
}

.inbox-main-unread .trap-line-E26zVR {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.inbox-main-unread .email-panel-M1SDmM {
  background-color: transparent;
  height: 53px;
  left: 17px;
  position: absolute;
  top: 85px;
  width: 1409px;
}

.inbox-main-unread .top-bar-zTnhnq {
  background-color: transparent;
  height: 52px;
  left: 17px;
  position: absolute;
  top: 1px;
  width: 1405px;
}

.inbox-main-unread .share-to-teams-zTnhnq {
  background-color: transparent;
  height: auto;
  left: 674px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 129px;
}

.inbox-main-unread .unread-read-zTnhnq {
  background-color: transparent;
  height: auto;
  left: 883px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 129px;
}

.inbox-main-unread .office-logos-zTnhnq {
  background-color: transparent;
  height: 50px;
  left: 626px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 50px;
}

.inbox-main-unread .group-zHWaRV {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 50px;
}

.inbox-main-unread .teams-cOdaYB {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 28px;
}

.inbox-main-unread .group-B1w5xJ {
  background-color: transparent;
  height: 25px;
  left: 8px;
  mix-blend-mode: multiply;
  opacity: 0.2;
  position: absolute;
  top: 1px;
  width: 20px;
}

.inbox-main-unread .rectangle-8x3lAq {
  background-color: transparent;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.inbox-main-unread .vector-8x3lAq {
  background-color: transparent;
  height: 23px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .group-AyXGEM {
  background-color: transparent;
  height: 23px;
  left: 9px;
  mix-blend-mode: multiply;
  opacity: 0.12;
  position: absolute;
  top: 1px;
  width: 19px;
}

.inbox-main-unread .rectangle-GW3fIM {
  background-color: transparent;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.inbox-main-unread .vector-GW3fIM {
  background-color: transparent;
  height: 23px;
  left: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .vector-B1w5xJ {
  background-color: transparent;
  height: 23px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 18px;
}

.inbox-main-unread .body-B1w5xJ {
  background-color: transparent;
  height: 11px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 8px;
}

.inbox-main-unread .head-B1w5xJ {
  background-color: transparent;
  height: 5px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 5px;
}

.inbox-main-unread .head-AyXGEM {
  background-color: transparent;
  height: 7px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 7px;
}

.inbox-main-unread .group-9fFXDX {
  background-color: transparent;
  height: 21px;
  left: 6px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.inbox-main-unread .group-oMjgxA {
  background-color: transparent;
  height: 19px;
  left: 1px;
  mix-blend-mode: multiply;
  opacity: 0.3;
  position: absolute;
  top: 2px;
  width: 18px;
}

.inbox-main-unread .rectangle-RgNgKG {
  background-color: transparent;
  height: 19px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .vector-RgNgKG {
  background-color: transparent;
  height: 14px;
  left: 3px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1px;
  width: 13px;
}

.inbox-main-unread .group-YQF8KA {
  background-color: transparent;
  height: 21px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.24;
  position: absolute;
  top: 0px;
  width: 20px;
}

.inbox-main-unread .rectangle-irZ34E {
  background-color: transparent;
  height: 21px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 20px;
}

.inbox-main-unread .vector-irZ34E {
  background-color: transparent;
  height: 14px;
  left: 3px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 3px;
  width: 13px;
}

.inbox-main-unread .vector-AyXGEM {
  background-color: transparent;
  height: 14px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 13px;
}

.inbox-main-unread .vector-9fFXDX {
  background-color: transparent;
  height: 25px;
  left: 2px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.inbox-main-unread .group-tYTuEy {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.inbox-main-unread .ambient-1H78TD {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .group-ME1sxA {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.48;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .rectangle-1wLF6W {
  background-color: transparent;
  height: 18px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-main-unread .vector-1wLF6W {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 2px;
  width: 13px;
}

.inbox-main-unread .group-Nizoxz {
  background-color: transparent;
  height: 14px;
  left: 2px;
  mix-blend-mode: multiply;
  opacity: 0.24;
  position: absolute;
  top: 1px;
  width: 14px;
}

.inbox-main-unread .rectangle-GnR4cd {
  background-color: transparent;
  height: 14px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 14px;
}

.inbox-main-unread .vector-GnR4cd {
  background-color: transparent;
  height: 13px;
  left: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 13px;
}

.inbox-main-unread .vector-tYTuEy {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 13px;
}

.inbox-main-unread .group-QfKqlP {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 6px;
  width: 13px;
}

.inbox-main-unread .vector-QfKqlP {
  background-color: transparent;
  height: 7px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 6px;
}

.inbox-main-unread .trap-line-cOdaYB {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.inbox-main-unread .iconuirestart-zTnhnq {
  background-color: transparent;
  height: 26px;
  left: 453px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.inbox-main-unread .iconuirestart-copy-zTnhnq {
  background-color: transparent;
  height: 26px;
  left: 502px;
  position: absolute;
  top: 12px;
  width: 26px;
}

.inbox-main-unread .combined-shape-zTnhnq {
  background-color: transparent;
  height: 21px;
  left: 556px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 26px;
}

.inbox-main-unread .chevron-down-zTnhnq {
  background-color: transparent;
  height: 17px;
  left: 257px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 17px;
}

.inbox-main-unread .new-email-zTnhnq {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 19px;
  position: absolute;
  top: 12px;
  width: 159px;
}

.inbox-main-unread .new-email-B1d3Ix {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 85px;
}

.inbox-main-unread .chevron-down-B1d3Ix {
  background-color: transparent;
  height: 17px;
  left: 140px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 17px;
}

.inbox-main-unread .miscmail-B1d3Ix {
  background-color: transparent;
  height: 31px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 31px;
}

.inbox-main-unread .icon-mail-8qsYi9 {
  background-color: transparent;
  height: 19px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 27px;
}

.inbox-main-unread .commontrash-zTnhnq {
  background-color: transparent;
  height: 31px;
  left: 217px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-main-unread .union-SLKCOG {
  background-color: transparent;
  height: 25px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 21px;
}

.inbox-main-unread .icon-folder-zTnhnq {
  background-color: transparent;
  height: 31px;
  left: 359px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-main-unread .miscmail-read-zTnhnq {
  background-color: transparent;
  height: 31px;
  left: 838px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-main-unread .miscarchive-zTnhnq {
  background-color: transparent;
  height: 31px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-main-unread .union-hVbaso {
  background-color: transparent;
  height: 25px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 27px;
}

.inbox-main-unread .line-12-zTnhnq {
  background-color: transparent;
  height: 43px;
  left: 190px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-main-unread .line-13-zTnhnq {
  background-color: transparent;
  height: 43px;
  left: 420px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-main-unread .line-14-zTnhnq {
  background-color: transparent;
  height: 43px;
  left: 608px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-main-unread .line-15-zTnhnq {
  background-color: transparent;
  height: 43px;
  left: 818px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-main-unread .group-6-vHcZaL {
  background-color: transparent;
  height: 871px;
  left: 225px;
  position: fixed;
  top: 153px;
  width: 446px;
}

.inbox-main-unread .rectangle-3-zNkcoB {
  background-color: var(--white);
  height: 871px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 347px;
}

.inbox-main-unread .focused-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 85px;
}

.inbox-main-unread .rectangle-zNkcoB {
  background-color: transparent;
  height: 81px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 76px;
  width: 333px;
}

.inbox-main-unread .invitation-to-dai-bonding-zNkcoB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 107px;
  width: 221px;
}

.inbox-main-unread .dear-crystal-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 130px;
  width: 221px;
}

.inbox-main-unread .thur-449-am-zNkcoB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 250px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 108px;
  width: auto;
}

.inbox-main-unread .faith-tan-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 226px;
}

.inbox-main-unread .other-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 107px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 79px;
}

.inbox-main-unread .line-2-zNkcoB {
  background-color: transparent;
  height: 1px;
  left: 4px;
  position: absolute;
  top: 156px;
  width: 336px;
}

.inbox-main-unread .rectangle-o54YaF {
  background-color: transparent;
  height: 81px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 157px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 250px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 189px;
  width: auto;
}

.inbox-main-unread .student-government-president-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 165px;
  width: 288px;
}

.inbox-main-unread .x10th-cabinet-roadmap-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 188px;
  width: 221px;
}

.inbox-main-unread .dear-sutd-family-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 211px;
  width: 221px;
}

.inbox-main-unread .line-2-o54YaF {
  background-color: transparent;
  height: 1px;
  left: 4px;
  position: absolute;
  top: 237px;
  width: 336px;
}

.inbox-main-unread .rectangle-OgleXT {
  background-color: transparent;
  height: 81px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 238px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-o54YaF {
  background-color: transparent;
  height: auto;
  left: 250px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 270px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  width: 226px;
}

.inbox-main-unread .subject-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 269px;
  width: 221px;
}

.inbox-main-unread .subject-o54YaF {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 292px;
  width: 221px;
}

.inbox-main-unread .line-2-OgleXT {
  background-color: transparent;
  height: 1px;
  left: 4px;
  position: absolute;
  top: 318px;
  width: 336px;
}

.inbox-main-unread .rectangle-8kbZBM {
  background-color: transparent;
  height: 81px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 319px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-OgleXT {
  background-color: transparent;
  height: auto;
  left: 251px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 351px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-o54YaF {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 327px;
  width: 226px;
}

.inbox-main-unread .subject-OgleXT {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 350px;
  width: 221px;
}

.inbox-main-unread .subject-8kbZBM {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 373px;
  width: 221px;
}

.inbox-main-unread .line-2-8kbZBM {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 399px;
  width: 336px;
}

.inbox-main-unread .rectangle-u8jhHk {
  background-color: transparent;
  height: 81px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 400px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-8kbZBM {
  background-color: transparent;
  height: auto;
  left: 251px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 432px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-OgleXT {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 408px;
  width: 226px;
}

.inbox-main-unread .subject-u8jhHk {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 431px;
  width: 221px;
}

.inbox-main-unread .subject-eVU0qH {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 454px;
  width: 221px;
}

.inbox-main-unread .line-2-u8jhHk {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 480px;
  width: 336px;
}

.inbox-main-unread .rectangle-eVU0qH {
  background-color: transparent;
  height: 81px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 481px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-u8jhHk {
  background-color: transparent;
  height: auto;
  left: 256px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 513px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-8kbZBM {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 489px;
  width: 226px;
}

.inbox-main-unread .subject-2DgEFE {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 512px;
  width: 221px;
}

.inbox-main-unread .subject-3HkYyh {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 535px;
  width: 221px;
}

.inbox-main-unread .line-2-eVU0qH {
  background-color: transparent;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 561px;
  width: 336px;
}

.inbox-main-unread .rectangle-2DgEFE {
  background-color: transparent;
  height: 81px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 562px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-eVU0qH {
  background-color: transparent;
  height: auto;
  left: 256px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 594px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-u8jhHk {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 570px;
  width: 226px;
}

.inbox-main-unread .subject-UfMoU1 {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 593px;
  width: 221px;
}

.inbox-main-unread .subject-EsmsUT {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 616px;
  width: 221px;
}

.inbox-main-unread .line-2-2DgEFE {
  background-color: transparent;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 642px;
  width: 336px;
}

.inbox-main-unread .rectangle-3HkYyh {
  background-color: transparent;
  height: 81px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 643px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-2DgEFE {
  background-color: transparent;
  height: auto;
  left: 257px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 675px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-eVU0qH {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 651px;
  width: 226px;
}

.inbox-main-unread .subject-V2rjqX {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 674px;
  width: 221px;
}

.inbox-main-unread .subject-ILuhC5 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 697px;
  width: 221px;
}

.inbox-main-unread .line-2-3HkYyh {
  background-color: transparent;
  height: 1px;
  left: 12px;
  position: absolute;
  top: 723px;
  width: 336px;
}

.inbox-main-unread .rectangle-UfMoU1 {
  background-color: transparent;
  height: 81px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 724px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-3HkYyh {
  background-color: transparent;
  height: auto;
  left: 257px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 756px;
  width: auto;
}

.inbox-main-unread .lorem-ipsum-2DgEFE {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 732px;
  width: 226px;
}

.inbox-main-unread .subject-hmHQSQ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 755px;
  width: 221px;
}

.inbox-main-unread .subject-tbdaHG {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 778px;
  width: 221px;
}

.inbox-main-unread .line-2-UfMoU1 {
  background-color: transparent;
  height: 1px;
  left: 12px;
  position: absolute;
  top: 804px;
  width: 336px;
}

.inbox-main-unread .rectangle-EsmsUT {
  background-color: transparent;
  height: 66px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 805px;
  width: 333px;
}

.inbox-main-unread .wed-732-am-UfMoU1 {
  background-color: transparent;
  height: auto;
  left: 256px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 831px;
  width: 74px;
}

.inbox-main-unread .lorem-ipsum-3HkYyh {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 812px;
  width: 226px;
}

.inbox-main-unread .subject-aw1YWj {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 830px;
  width: 221px;
}

.inbox-main-unread .subject-b48BPl {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 849px;
  width: 221px;
}

.inbox-main-unread .line-2-EsmsUT {
  background-color: transparent;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 870px;
  width: 336px;
}

.inbox-main-unread .line-9-zNkcoB {
  background-color: transparent;
  height: 2px;
  left: 16px;
  position: absolute;
  top: 64px;
  width: 85px;
}

.inbox-main-unread .by-date-zNkcoB {
  background-color: transparent;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 74px;
}

.inbox-main-unread .vector-zNkcoB {
  background-color: transparent;
  height: 7px;
  left: 307px;
  position: absolute;
  top: 45px;
  width: 12px;
}

.inbox-main-unread .line-8-zNkcoB {
  background-color: transparent;
  height: 851px;
  left: 357px;
  position: absolute;
  top: 7px;
  width: 3px;
}

.inbox-main-unread .rectangle-64-zNkcoB {
  background-color: var(--lochmara);
  height: 88px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 74px;
  width: 7px;
}
