/* screen - inbox-faith-email */

.inbox-faith-email {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.inbox-faith-email .email-body-XDgP4x {
  background-color: transparent;
  height: 485px;
  left: 603px;
  position: absolute;
  top: 175px;
  width: 814px;
}

.inbox-faith-email .faith-tan-faith_tansutdedusg-yYXxzX {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}

.inbox-faith-email .thu-6182020-449-pm-yYXxzX {
  background-color: transparent;
  height: auto;
  left: 660px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: auto;
}

.inbox-faith-email .to-yYXxzX {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 77px;
  width: auto;
}

.inbox-faith-email .you-yYXxzX {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 77px;
  width: auto;
}

.inbox-faith-email .icon-contact-yYXxzX {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 42px;
}

.inbox-faith-email .oval-FuJ4H6 {
  background-color: transparent;
  height: 40px;
  left: 603px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 40px;
}

.inbox-faith-email .a-FuJ4H6 {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}

.inbox-faith-email .dear-crystal-on-beha-yYXxzX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 161px;
  width: 721px;
}

.inbox-faith-email .span0-gxPVMI {
}

.inbox-faith-email .span1-gxPVMI {
}

.inbox-faith-email .span2-gxPVMI {
}

.inbox-faith-email .span3-gxPVMI {
}

.inbox-faith-email .span4-gxPVMI {
}

.inbox-faith-email .span5-gxPVMI {
}

.inbox-faith-email .span6-gxPVMI {
}

.inbox-faith-email .invitation-to-dai-bonding-session-yYXxzX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.inbox-faith-email .reply-button-yYXxzX {
  background-color: transparent;
  height: 30px;
  left: 444px;
  position: absolute;
  top: 53px;
  width: 120px;
}

.inbox-faith-email .base-MHgUWr {
  align-items: center;
  background-color: var(--white-2);
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05779999867081642) 90.576171875%, rgba(0, 0, 0, 0.16220000386238098)) 1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  left: -1px;
  mix-blend-mode: normal;
  padding: 4px 11px 6px;
  position: absolute;
  top: -1px;
  width: 120px;
}

.inbox-faith-email .min-width-p8okBm {
  background-color: transparent;
  height: 1px;
  min-width: 96px;
  position: relative;
}

.inbox-faith-email .text-MHgUWr {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: auto;
}

.inbox-faith-email .iconuirestart-MHgUWr {
  background-color: transparent;
  height: 16px;
  left: 29px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.inbox-faith-email .reply-all-button-yYXxzX {
  background-color: transparent;
  height: 30px;
  left: 564px;
  position: absolute;
  top: 53px;
  width: 120px;
}

.inbox-faith-email .base-PVa05N {
  align-items: center;
  background-color: var(--white-2);
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05779999867081642) 90.576171875%, rgba(0, 0, 0, 0.16220000386238098)) 1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  left: -1px;
  mix-blend-mode: normal;
  padding: 4px 11px 6px;
  position: absolute;
  top: -1px;
  width: 120px;
}

.inbox-faith-email .min-width-xyxdoK {
  background-color: transparent;
  height: 1px;
  min-width: 96px;
  position: relative;
}

.inbox-faith-email .text-PVa05N {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: auto;
}

.inbox-faith-email .iconuirestart-copy-PVa05N {
  background-color: transparent;
  height: 16px;
  left: 17px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.inbox-faith-email .forward-button-yYXxzX {
  background-color: transparent;
  height: 30px;
  left: 684px;
  position: absolute;
  top: 53px;
  width: 120px;
}

.inbox-faith-email .base-DYf8Ru {
  align-items: center;
  background-color: var(--white-2);
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05779999867081642) 90.576171875%, rgba(0, 0, 0, 0.16220000386238098)) 1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 32px;
  justify-content: center;
  left: -1px;
  mix-blend-mode: normal;
  padding: 4px 11px 6px;
  position: absolute;
  top: -1px;
  width: 120px;
}

.inbox-faith-email .min-width-lyA0iF {
  background-color: transparent;
  height: 1px;
  min-width: 96px;
  position: relative;
}

.inbox-faith-email .text-DYf8Ru {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: auto;
}

.inbox-faith-email .combined-shape-DYf8Ru {
  background-color: transparent;
  height: 15px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 18px;
}

.inbox-faith-email .left-panel-XDgP4x {
  background-color: transparent;
  height: 871px;
  left: 0px;
  position: absolute;
  top: 153px;
  width: 228px;
}

.inbox-faith-email .rectangle-2-oheAwQ {
  background-color: var(--cultured-pearl);
  height: 871px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .bottom-bar-oheAwQ {
  background-color: transparent;
  height: 29px;
  left: 10px;
  position: absolute;
  top: 830px;
  width: 184px;
}

.inbox-faith-email .icon-mail-EFtMHI {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 29px;
}

.inbox-faith-email .icon-calendar-EFtMHI {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 54px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 29px;
}

.inbox-faith-email .icon-more-EFtMHI {
  background-color: transparent;
  height: 4px;
  left: 158px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 26px;
}

.inbox-faith-email .icon-group-EFtMHI {
  background-color: transparent;
  height: 28px;
  left: 108px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 26px;
}

.inbox-faith-email .line-11-oheAwQ {
  background-color: transparent;
  height: 2px;
  left: 4px;
  position: absolute;
  top: 812px;
  width: 208px;
}

.inbox-faith-email .favourites-oheAwQ {
  background-color: transparent;
  height: 144px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 226px;
}

.inbox-faith-email .favorites-DBAa2z {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 85px;
}

.inbox-faith-email .fav-inbox-DBAa2z {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 228px;
}

.inbox-faith-email .rectangle-4-3jPDPo {
  background-color: var(--bon-jour);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .inbox-3jPDPo {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-3jPDPo {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .fav-sent-items-DBAa2z {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 60px;
  width: 228px;
}

.inbox-faith-email .rectangle-5-nSk3eQ {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .sent-items-nSk3eQ {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-nSk3eQ {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .fav-drafts-DBAa2z {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 85px;
  width: 228px;
}

.inbox-faith-email .rectangle-6-f4pAf8 {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .drafts-f4pAf8 {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-f4pAf8 {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .fav-deleted-items-DBAa2z {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 228px;
}

.inbox-faith-email .rectangle-7-JlZI4f {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .deleted-items-JlZI4f {
  background-color: transparent;
  height: 27px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-JlZI4f {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .line-2-DBAa2z {
  background-color: transparent;
  height: 2px;
  left: 6px;
  position: absolute;
  top: 143px;
  width: 208px;
}

.inbox-faith-email .chevron-down-DBAa2z {
  background-color: transparent;
  height: 32px;
  left: 7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 32px;
}

.inbox-faith-email .crystal_limsutdedu-oheAwQ {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 192px;
  width: 180px;
}

.inbox-faith-email .sent-items-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 247px;
  width: 228px;
}

.inbox-faith-email .rectangle-9-nU5TBK {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .sent-items-nU5TBK {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-nU5TBK {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .drafts-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 272px;
  width: 228px;
}

.inbox-faith-email .rectangle-10-DxuMx2 {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .drafts-DxuMx2 {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-DxuMx2 {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .deleted-items-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 299px;
  width: 228px;
}

.inbox-faith-email .rectangle-11-o8TVZp {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .deleted-items-o8TVZp {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-o8TVZp {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .archive-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 326px;
  width: 228px;
}

.inbox-faith-email .rectangle-12-Kfxsue {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .archive-Kfxsue {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-Kfxsue {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .junk-email-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 351px;
  width: 228px;
}

.inbox-faith-email .rectangle-13-CQnBQv {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .junk-email-CQnBQv {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-CQnBQv {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .outlook-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 378px;
  width: 228px;
}

.inbox-faith-email .rectangle-14-9rW6Xt {
  background-color: var(--cultured-pearl);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .outlook-9rW6Xt {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-9rW6Xt {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .chevron-down-oheAwQ {
  background-color: transparent;
  height: 32px;
  left: 7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 187px;
  width: 32px;
}

.inbox-faith-email .chevron-down-wDNchX {
  background-color: transparent;
  height: 23px;
  left: 194px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 23px;
}

.inbox-faith-email .inbox-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 228px;
}

.inbox-faith-email .rectangle-8-A24how {
  background-color: var(--bon-jour);
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 224px;
}

.inbox-faith-email .inbox-A24how {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}

.inbox-faith-email .x12-A24how {
  background-color: transparent;
  height: 27px;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .chevron-down-A24how {
  background-color: transparent;
  height: 16px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 14px;
}

.inbox-faith-email .groups-oheAwQ {
  background-color: transparent;
  height: 27px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 410px;
  width: 85px;
}

.inbox-faith-email .chevron-down-rBx2FQ {
  background-color: transparent;
  height: 16px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 14px;
}

.inbox-faith-email .top-panel-XDgP4x {
  background-color: transparent;
  height: 153px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.inbox-faith-email .rectangle-1-35xLQx {
  background-color: var(--gallery);
  height: 153px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.inbox-faith-email .search-bar-35xLQx {
  background-color: transparent;
  height: 31px;
  left: 370px;
  position: absolute;
  top: 12px;
  width: 352px;
}

.inbox-faith-email .rectangle-LfPS0d {
  background-color: transparent;
  height: 31px;
  left: 370px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 350px;
}

.inbox-faith-email .search-LfPS0d {
  background-color: transparent;
  height: auto;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.inbox-faith-email .icon-search-LfPS0d {
  background-color: transparent;
  height: 16px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 15px;
}

.inbox-faith-email .main-panel-35xLQx {
  background-color: transparent;
  height: 31px;
  left: 26px;
  position: absolute;
  top: 55px;
  width: 558px;
}

.inbox-faith-email .line-10-V6b5Vx {
  background-color: transparent;
  height: 2px;
  left: 86px;
  position: absolute;
  top: 30px;
  width: 74px;
}

.inbox-faith-email .file-V6b5Vx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-faith-email .home-V6b5Vx {
  background-color: transparent;
  height: auto;
  left: 86px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-faith-email .view-V6b5Vx {
  background-color: transparent;
  height: auto;
  left: 300px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-faith-email .help-V6b5Vx {
  background-color: transparent;
  height: auto;
  left: 386px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-faith-email .acrobat-V6b5Vx {
  background-color: transparent;
  height: auto;
  left: 472px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 74px;
}

.inbox-faith-email .send-receive-V6b5Vx {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 133px;
}

.inbox-faith-email .fix-buttons-35xLQx {
  background-color: transparent;
  height: 52px;
  left: 1304px;
  position: absolute;
  top: 17px;
  width: 125px;
}

.inbox-faith-email .chromechrome-close-4viCST {
  background-color: transparent;
  height: 16px;
  left: 105px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.inbox-faith-email .chromechrome-restore-4viCST {
  background-color: transparent;
  height: 16px;
  left: 72px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.inbox-faith-email .chromechrome-minimize-4viCST {
  background-color: transparent;
  height: 16px;
  left: 39px;
  position: absolute;
  top: 1px;
  width: 16px;
}

.inbox-faith-email .base-4viCST {
  background-color: var(--alabaster);
  border-radius: 999px;
  height: 20px;
  left: 64px;
  mix-blend-mode: normal;
  position: absolute;
  top: 33px;
  width: 58px;
}

.inbox-faith-email .thumb-4viCST {
  background-color: var(--black-4);
  border-radius: 999px;
  height: 12px;
  left: 71px;
  mix-blend-mode: normal;
  position: absolute;
  top: 37px;
  width: 12px;
}

.inbox-faith-email .off-4viCST {
  background-color: transparent;
  height: 10px;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 20px;
}

.inbox-faith-email .try-it-now-4viCST {
  background-color: transparent;
  height: 10px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 56px;
}

.inbox-faith-email .office-logos-35xLQx {
  background-color: transparent;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}

.inbox-faith-email .group-EK3TC2 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}

.inbox-faith-email .outlook-0ekdrC {
  background-color: transparent;
  height: 29px;
  left: 9px;
  position: absolute;
  top: 12px;
  width: 33px;
}

.inbox-faith-email .x142-RVGW4S {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 33px;
}

.inbox-faith-email .group-sa56p1 {
  background-color: transparent;
  height: 24px;
  left: 7px;
  mix-blend-mode: multiply;
  opacity: 0.2;
  position: absolute;
  top: 1px;
  width: 21px;
}

.inbox-faith-email .rectangle-uqYNDc {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 21px;
}

.inbox-faith-email .vector-uqYNDc {
  background-color: transparent;
  height: 22px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .group-CjxdXO {
  background-color: transparent;
  height: 23px;
  left: 7px;
  mix-blend-mode: multiply;
  opacity: 0.12;
  position: absolute;
  top: 1px;
  width: 19px;
}

.inbox-faith-email .rectangle-uko5xC {
  background-color: transparent;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .vector-uko5xC {
  background-color: transparent;
  height: 22px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .vector-sa56p1 {
  background-color: transparent;
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 18px;
}

.inbox-faith-email .vector-CjxdXO {
  background-color: transparent;
  height: 5px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}

.inbox-faith-email .vector-OnPKQD {
  background-color: transparent;
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 16px;
}

.inbox-faith-email .vector-TE4cKc {
  background-color: transparent;
  height: 5px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 5px;
}

.inbox-faith-email .vector-Cl4INm {
  background-color: transparent;
  height: 5px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 5px;
}

.inbox-faith-email .vector-RJfgIa {
  background-color: transparent;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 5px;
}

.inbox-faith-email .vector-0e8JJa {
  background-color: transparent;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}

.inbox-faith-email .vector-7aoTGn {
  background-color: transparent;
  height: 5px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}

.inbox-faith-email .vector-VpmdxG {
  background-color: transparent;
  height: 5px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 5px;
}

.inbox-faith-email .vector-MCjkS9 {
  background-color: transparent;
  height: 5px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 5px;
}

.inbox-faith-email .vector-epqsJC {
  background-color: transparent;
  height: 5px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 5px;
}

.inbox-faith-email .group-OnPKQD {
  background-color: transparent;
  height: 24px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 32px;
}

.inbox-faith-email .envelope-2AnvTj {
  background-color: transparent;
  height: 24px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 32px;
}

.inbox-faith-email .group-ShLYA1 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.35;
  position: relative;
  top: 0px;
  width: 32px;
}

.inbox-faith-email .rectangle-dxLB60 {
  background-color: transparent;
  height: 24px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 32px;
}

.inbox-faith-email .vector-dxLB60 {
  background-color: transparent;
  height: 11px;
  left: 7px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 7px;
  width: 18px;
}

.inbox-faith-email .envelope-y61mtE {
  background-color: transparent;
  height: 12px;
  left: 6px;
  opacity: 0.06;
  position: absolute;
  top: 6px;
  width: 19px;
}

.inbox-faith-email .group-WLjRaR {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.06;
  position: relative;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .icon-mail-bPNRDr {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .vector-bPNRDr {
  background-color: transparent;
  height: 11px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1px;
  width: 18px;
}

.inbox-faith-email .envelope-sa56p1 {
  background-color: transparent;
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 18px;
}

.inbox-faith-email .vector-1s6MQO {
  background-color: transparent;
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 18px;
}

.inbox-faith-email .group-TE4cKc {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 17px;
}

.inbox-faith-email .ambient-ZXxKUO {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 17px;
}

.inbox-faith-email .group-juWw7x {
  background-color: transparent;
  height: 17px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.48;
  position: absolute;
  top: 0px;
  width: 17px;
}

.inbox-faith-email .rectangle-xAmwFD {
  background-color: transparent;
  height: 17px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.inbox-faith-email .vector-xAmwFD {
  background-color: transparent;
  height: 12px;
  left: 2px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1px;
  width: 12px;
}

.inbox-faith-email .group-kh5nPC {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: multiply;
  opacity: 0.24;
  position: absolute;
  top: 1px;
  width: 13px;
}

.inbox-faith-email .rectangle-CQ3R7Q {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 13px;
}

.inbox-faith-email .vector-CQ3R7Q {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 12px;
}

.inbox-faith-email .vector-ItKNqe {
  background-color: transparent;
  height: 24px;
  left: 2px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.inbox-faith-email .vector-x0TKxM {
  background-color: transparent;
  height: 22px;
  left: 8px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 1px;
  width: 18px;
}

.inbox-faith-email .vector-Ab97WO {
  background-color: transparent;
  height: 12px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 12px;
}

.inbox-faith-email .group-Cl4INm {
  background-color: transparent;
  height: 12px;
  left: 2px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 6px;
  width: 12px;
}

.inbox-faith-email .vector-5JTvmV {
  background-color: transparent;
  height: 7px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 6px;
}

.inbox-faith-email .trap-line-0ekdrC {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.inbox-faith-email .email-panel-35xLQx {
  background-color: transparent;
  height: 53px;
  left: 17px;
  position: absolute;
  top: 85px;
  width: 1409px;
}

.inbox-faith-email .top-bar-JxpjXL {
  background-color: transparent;
  height: 52px;
  left: 17px;
  position: absolute;
  top: 1px;
  width: 1405px;
}

.inbox-faith-email .share-to-teams-JxpjXL {
  background-color: transparent;
  height: auto;
  left: 674px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 129px;
}

.inbox-faith-email .unread-read-JxpjXL {
  background-color: transparent;
  height: auto;
  left: 883px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 129px;
}

.inbox-faith-email .office-logos-JxpjXL {
  background-color: transparent;
  height: 50px;
  left: 626px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 50px;
}

.inbox-faith-email .group-rXAdRR {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 50px;
}

.inbox-faith-email .teams-hEq8ux {
  background-color: transparent;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 28px;
}

.inbox-faith-email .group-uyJFbW {
  background-color: transparent;
  height: 25px;
  left: 8px;
  mix-blend-mode: multiply;
  opacity: 0.2;
  position: absolute;
  top: 1px;
  width: 20px;
}

.inbox-faith-email .rectangle-4538Pl {
  background-color: transparent;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.inbox-faith-email .vector-4538Pl {
  background-color: transparent;
  height: 23px;
  left: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .group-xAGxux {
  background-color: transparent;
  height: 23px;
  left: 9px;
  mix-blend-mode: multiply;
  opacity: 0.12;
  position: absolute;
  top: 1px;
  width: 19px;
}

.inbox-faith-email .rectangle-BtMaHW {
  background-color: transparent;
  height: 23px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.inbox-faith-email .vector-BtMaHW {
  background-color: transparent;
  height: 23px;
  left: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .vector-uyJFbW {
  background-color: transparent;
  height: 23px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 18px;
}

.inbox-faith-email .body-uyJFbW {
  background-color: transparent;
  height: 11px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 8px;
}

.inbox-faith-email .head-uyJFbW {
  background-color: transparent;
  height: 5px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 5px;
}

.inbox-faith-email .head-xAGxux {
  background-color: transparent;
  height: 7px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 7px;
}

.inbox-faith-email .group-GqQ0tF {
  background-color: transparent;
  height: 21px;
  left: 6px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.inbox-faith-email .group-sDt7Nr {
  background-color: transparent;
  height: 19px;
  left: 1px;
  mix-blend-mode: multiply;
  opacity: 0.3;
  position: absolute;
  top: 2px;
  width: 18px;
}

.inbox-faith-email .rectangle-W7hpe0 {
  background-color: transparent;
  height: 19px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .vector-W7hpe0 {
  background-color: transparent;
  height: 14px;
  left: 3px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1px;
  width: 13px;
}

.inbox-faith-email .group-8NTjNx {
  background-color: transparent;
  height: 21px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.24;
  position: absolute;
  top: 0px;
  width: 20px;
}

.inbox-faith-email .rectangle-N9JcZx {
  background-color: transparent;
  height: 21px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 20px;
}

.inbox-faith-email .vector-N9JcZx {
  background-color: transparent;
  height: 14px;
  left: 3px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 3px;
  width: 13px;
}

.inbox-faith-email .vector-xAGxux {
  background-color: transparent;
  height: 14px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 13px;
}

.inbox-faith-email .vector-GqQ0tF {
  background-color: transparent;
  height: 25px;
  left: 2px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.inbox-faith-email .group-dH63LA {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.inbox-faith-email .ambient-iaaI2y {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .group-hwUgVQ {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.48;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .rectangle-yvrFXI {
  background-color: transparent;
  height: 18px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.inbox-faith-email .vector-yvrFXI {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 2px;
  width: 13px;
}

.inbox-faith-email .group-pgSwTN {
  background-color: transparent;
  height: 14px;
  left: 2px;
  mix-blend-mode: multiply;
  opacity: 0.24;
  position: absolute;
  top: 1px;
  width: 14px;
}

.inbox-faith-email .rectangle-lOpxld {
  background-color: transparent;
  height: 14px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 14px;
}

.inbox-faith-email .vector-lOpxld {
  background-color: transparent;
  height: 13px;
  left: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 13px;
}

.inbox-faith-email .vector-dH63LA {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 13px;
}

.inbox-faith-email .group-jWT0rm {
  background-color: transparent;
  height: 13px;
  left: 2px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 6px;
  width: 13px;
}

.inbox-faith-email .vector-jWT0rm {
  background-color: transparent;
  height: 7px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 6px;
}

.inbox-faith-email .trap-line-hEq8ux {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.inbox-faith-email .iconuirestart-JxpjXL {
  background-color: transparent;
  height: 26px;
  left: 453px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.inbox-faith-email .iconuirestart-copy-JxpjXL {
  background-color: transparent;
  height: 26px;
  left: 502px;
  position: absolute;
  top: 12px;
  width: 26px;
}

.inbox-faith-email .combined-shape-JxpjXL {
  background-color: transparent;
  height: 21px;
  left: 556px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 26px;
}

.inbox-faith-email .chevron-down-JxpjXL {
  background-color: transparent;
  height: 17px;
  left: 257px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 17px;
}

.inbox-faith-email .new-email-JxpjXL {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 19px;
  position: absolute;
  top: 12px;
  width: 159px;
}

.inbox-faith-email .new-email-woNiiG {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 85px;
}

.inbox-faith-email .chevron-down-woNiiG {
  background-color: transparent;
  height: 17px;
  left: 140px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 17px;
}

.inbox-faith-email .miscmail-woNiiG {
  background-color: transparent;
  height: 31px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 31px;
}

.inbox-faith-email .icon-mail-xC1rpJ {
  background-color: transparent;
  height: 19px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 27px;
}

.inbox-faith-email .commontrash-JxpjXL {
  background-color: transparent;
  height: 31px;
  left: 217px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-faith-email .union-fHHImR {
  background-color: transparent;
  height: 25px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 21px;
}

.inbox-faith-email .icon-folder-JxpjXL {
  background-color: transparent;
  height: 31px;
  left: 359px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-faith-email .miscmail-read-JxpjXL {
  background-color: transparent;
  height: 31px;
  left: 838px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-faith-email .miscarchive-JxpjXL {
  background-color: transparent;
  height: 31px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 31px;
}

.inbox-faith-email .union-Smh8fp {
  background-color: transparent;
  height: 25px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 27px;
}

.inbox-faith-email .line-12-JxpjXL {
  background-color: transparent;
  height: 43px;
  left: 190px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-faith-email .line-13-JxpjXL {
  background-color: transparent;
  height: 43px;
  left: 420px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-faith-email .line-14-JxpjXL {
  background-color: transparent;
  height: 43px;
  left: 608px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-faith-email .line-15-JxpjXL {
  background-color: transparent;
  height: 43px;
  left: 818px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.inbox-faith-email .inbox-panel-XDgP4x {
  background-color: transparent;
  height: 871px;
  left: 224px;
  position: fixed;
  top: 153px;
  width: 364px;
}

.inbox-faith-email .rectangle-3-EPMlDe {
  background-color: var(--white);
  height: 871px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 347px;
}

.inbox-faith-email .focused-EPMlDe {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 85px;
}

.inbox-faith-email .email-1-EPMlDe {
  background-color: transparent;
  cursor: pointer;
  height: 121px;
  left: 5px;
  position: absolute;
  top: 36px;
  width: 345px;
}

.inbox-faith-email .rectangle-3AzgxX {
  background-color: transparent;
  height: 81px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 40px;
  width: 333px;
}

.inbox-faith-email .invitation-to-dai-bonding-3AzgxX {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 221px;
}

.inbox-faith-email .dear-crystal-3AzgxX {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 94px;
  width: 221px;
}

.inbox-faith-email .thur-449-am-3AzgxX {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 72px;
  width: auto;
}

.inbox-faith-email .faith-tan-3AzgxX {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 48px;
  width: 226px;
}

.inbox-faith-email .other-3AzgxX {
  background-color: transparent;
  height: auto;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 79px;
}

.inbox-faith-email .line-2-3AzgxX {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 120px;
  width: 336px;
}

.inbox-faith-email .email-2-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 6px;
  position: absolute;
  top: 242px;
  width: 343px;
}

.inbox-faith-email .rectangle-Rwia5T {
  background-color: transparent;
  height: 81px;
  left: 230px;
  mix-blend-mode: normal;
  position: absolute;
  top: 395px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-Rwia5T {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .student-government-president-Rwia5T {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 288px;
}

.inbox-faith-email .x10th-cabinet-roadmap-Rwia5T {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .dear-sutd-family-Rwia5T {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-Rwia5T {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-3-EPMlDe {
  background-color: transparent;
  cursor: pointer;
  height: 81px;
  left: 6px;
  position: absolute;
  top: 157px;
  width: 343px;
}

.inbox-faith-email .rectangle-zExDcd {
  background-color: transparent;
  height: 81px;
  left: 230px;
  mix-blend-mode: normal;
  position: absolute;
  top: 310px;
  width: 333px;
}

.inbox-faith-email .wed-449-pm-zExDcd {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .rebecca-tan-zExDcd {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .welcome-onboard-the-for-zExDcd {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .dear-crystal-zExDcd {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-zExDcd {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-4-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 6px;
  position: absolute;
  top: 319px;
  width: 343px;
}

.inbox-faith-email .rectangle-EMdNsR {
  background-color: transparent;
  height: 81px;
  left: 230px;
  mix-blend-mode: normal;
  position: absolute;
  top: 472px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-EMdNsR {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .lorem-ipsum-EMdNsR {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .subject-EMdNsR {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .subject-VZIShV {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-EMdNsR {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-5-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 6px;
  position: absolute;
  top: 400px;
  width: 343px;
}

.inbox-faith-email .rectangle-dXpMud {
  background-color: transparent;
  height: 81px;
  left: 230px;
  mix-blend-mode: normal;
  position: absolute;
  top: 553px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-dXpMud {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .lorem-ipsum-dXpMud {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .subject-dXpMud {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .subject-XpIugD {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-dXpMud {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-6-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 11px;
  position: absolute;
  top: 481px;
  width: 343px;
}

.inbox-faith-email .rectangle-huUhws {
  background-color: transparent;
  height: 81px;
  left: 235px;
  mix-blend-mode: normal;
  position: absolute;
  top: 634px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-huUhws {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .lorem-ipsum-huUhws {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .subject-huUhws {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .subject-xZlrfi {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-huUhws {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-7-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 11px;
  position: absolute;
  top: 562px;
  width: 343px;
}

.inbox-faith-email .rectangle-xnKQe6 {
  background-color: transparent;
  height: 81px;
  left: 235px;
  mix-blend-mode: normal;
  position: absolute;
  top: 715px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-xnKQe6 {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .lorem-ipsum-xnKQe6 {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .subject-xnKQe6 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .subject-uGqI6L {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-xnKQe6 {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-8-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 12px;
  position: absolute;
  top: 643px;
  width: 343px;
}

.inbox-faith-email .rectangle-K280kn {
  background-color: transparent;
  height: 81px;
  left: 236px;
  mix-blend-mode: normal;
  position: absolute;
  top: 796px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-K280kn {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .lorem-ipsum-K280kn {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .subject-K280kn {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .subject-yFTQxH {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-K280kn {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-9-EPMlDe {
  background-color: transparent;
  height: 81px;
  left: 12px;
  position: absolute;
  top: 724px;
  width: 343px;
}

.inbox-faith-email .rectangle-zcqe08 {
  background-color: transparent;
  height: 81px;
  left: 236px;
  mix-blend-mode: normal;
  position: absolute;
  top: 877px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-zcqe08 {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.inbox-faith-email .lorem-ipsum-zcqe08 {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 226px;
}

.inbox-faith-email .subject-zcqe08 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 221px;
}

.inbox-faith-email .subject-z7J0hf {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 221px;
}

.inbox-faith-email .line-2-zcqe08 {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 80px;
  width: 336px;
}

.inbox-faith-email .email-10-EPMlDe {
  background-color: transparent;
  height: 66px;
  left: 11px;
  position: absolute;
  top: 805px;
  width: 343px;
}

.inbox-faith-email .rectangle-WUGcXz {
  background-color: transparent;
  height: 66px;
  left: 235px;
  mix-blend-mode: normal;
  position: absolute;
  top: 958px;
  width: 333px;
}

.inbox-faith-email .wed-732-am-WUGcXz {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 74px;
}

.inbox-faith-email .lorem-ipsum-WUGcXz {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 226px;
}

.inbox-faith-email .subject-WUGcXz {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: 221px;
}

.inbox-faith-email .subject-868354 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 221px;
}

.inbox-faith-email .line-2-WUGcXz {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 65px;
  width: 336px;
}

.inbox-faith-email .line-9-EPMlDe {
  background-color: transparent;
  height: 2px;
  left: 16px;
  position: absolute;
  top: 64px;
  width: 85px;
}

.inbox-faith-email .by-date-EPMlDe {
  background-color: transparent;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 74px;
}

.inbox-faith-email .chevron-down-EPMlDe {
  background-color: transparent;
  height: 23px;
  left: 301px;
  position: absolute;
  top: 37px;
  width: 23px;
}

.inbox-faith-email .line-8-EPMlDe {
  background-color: transparent;
  height: 851px;
  left: 357px;
  position: absolute;
  top: 7px;
  width: 3px;
}
